@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: whitesmoke;
  background-color: #06043E;
  /* background-image: url("../public/aboutMe.jpg"); */
}

/* Custom CSS for hiding the scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit-based browsers (Chrome, Safari) */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-90%);
  }
}

.scroll-container {
  position: relative;
  overflow: hidden; /* Hide the scrollbar */
  width: 100%; /* Full width of the parent */
}

.scrolling-carousel {
  display: flex;
  width: 100%; /* Double the width of the viewport */
  animation: scroll 10s alternate-reverse infinite; /* Adjust the duration as needed */
}

.scroll-item {
  flex: 0 0 auto; /* Ensure items do not shrink */
  width: 100px; /* Adjust to your image size */
  height: 100px; /* Adjust to your image size */
}

.bgremove{
  mix-blend-mode: multiply;
}



.scrolling-carousel-r {
  display: flex;
  width: 100%; /* Double the width of the viewport */
  animation: scroll 10s alternate infinite; /* Adjust the duration as needed */
}





